{
  "comments": false,
  "plugins": [],
  "env": {
    "assets": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "browsers": "> 1%",
            "ie": 11
          },
          "forceAllTransforms": true,
          "useBuiltIns": false
        }]
      ]
    },
    "server": {}
  }
}
